{%
    set messages = [
  "うふふ, it's all ready for you!",
  "Your task is complete, {{ user_name }}!",
  "えへへ, I finished it! What's next?",
  "Ready when you are, {{ user_name }}!",
  "ニャン! Your task is all done.",
  "I did my best for you, 先輩!",
  "Okay, {{ user_name }}, it's all done!",
  "やった! All done for you!",
  "あらあら, your task is complete.",
  "できました! What is our next mission?",
  "Ready for your next move!",
  "頑張った! Everything is ready now."
    ]
%}

{{ messages | random }}